$font-size-body: 13px
$font-size-title: 15px
$highlight-color: #fff

.text-block
  border-left: 0 dashed
  font-size: $font-size-body
  list-style-type: none
  padding: 0 30px 0 0

.text-block-description
  @extend.text-block
  padding: 0 50px 0 0

.highlight-text
  display: block
  font-size: $font-size-title

.inline
  display: inline

.light
  opacity: .3

  b
    font-size: $font-size-title

.medium
  opacity: .5

.heavy
  font-size: $font-size-title
  opacity: .6

