$font-size-body: 13px
$font-size-title: 15px

.text-block
  border-left: 3px solid
  font-size: $font-size-body
  list-style-type: none
  padding-left: 10px

.text-block-stack
  @extend.text-block
  font-weight: bold

.text-block-description
  @extend.text-block
  font-weight: 100

.text-block-detail
  @extend.text-block
  font-style: oblique
